In [1]:
import pandas as pd

purchases = pd.read_csv('/Users/charisoneyemi/Downloads/THESISFOLDER/amazon-purchases.csv')
surveys = pd.read_csv('/Users/charisoneyemi/Downloads/THESISFOLDER/survey.csv')
column_details = pd.read_csv('/Users/charisoneyemi/Downloads/THESISFOLDER/fields.csv')

In [3]:
purchases.head()
#transaction data

,Order Date,Purchase Price Per Unit,Quantity,Shipping Address State,Title,ASIN/ISBN (Product Code),Category,Survey ResponseID
0,2018-12-04,7.98,1.0,NJ,SanDisk Ultra 16GB Class 10 SDHC UHS-I Memory ...,B0143RTB1E,FLASH_MEMORY,R_01vNIayewjIIKMF
1,2018-12-22,13.99,1.0,NJ,Betron BS10 Earphones Wired Headphones in Ear ...,B01MA1MJ6H,HEADPHONES,R_01vNIayewjIIKMF
2,2018-12-24,8.99,1.0,NJ,NaN,B078JZTFN3,NaN,R_01vNIayewjIIKMF
3,2018-12-25,10.45,1.0,NJ,Perfecto Stainless Steel Shaving Bowl. Durable...,B06XWF9HML,DISHWARE_BOWL,R_01vNIayewjIIKMF
4,2018-12-25,10.00,1.0,NJ,Proraso Shaving Cream for Men,B00837ZOI0,SHAVING_AGENT,R_01vNIayewjIIKMF

In [5]:
surveys.head()
#customer demographic data

,Survey ResponseID,Q-demos-age,Q-demos-hispanic,Q-demos-race,Q-demos-education,Q-demos-income,Q-demos-gender,Q-sexual-orientation,Q-demos-state,Q-amazon-use-howmany,...,Q-substance-use-marijuana,Q-substance-use-alcohol,Q-personal-diabetes,Q-personal-wheelchair,Q-life-changes,Q-sell-YOUR-data,Q-sell-consumer-data,Q-small-biz-use,Q-census-use,Q-research-society
0,R_1ou69fj4DQGsVcp,35 - 44 years,No,Black or African American,High school diploma or GED,"$25,000 - $49,999",Female,heterosexual (straight),Iowa,2,...,No,Yes,No,No,Lost a job,No,No,No,No,No
1,R_2UbJL30HRjK1sdD,45 - 54 years,No,White or Caucasian,High school diploma or GED,"$100,000 - $149,999",Male,heterosexual (straight),Ohio,2,...,No,No,No,No,NaN,No,No,No,No,Yes
2,R_UPXamGKtmf4RVIZ,25 - 34 years,No,White or Caucasian,High school diploma or GED,"$25,000 - $49,999",Male,heterosexual (straight),Arkansas,1 (just me!),...,No,No,Yes,No,NaN,No,No,No,No,Yes
3,R_2dYk5auG9Fv5Qve,35 - 44 years,Yes,White or Caucasian,"Graduate or professional degree (MA, MS, MBA, ...","$50,000 - $74,999",Male,heterosexual (straight),Tennessee,1 (just me!),...,No,No,No,No,NaN,No,No,No,No,No
4,R_2aP0GyIR66gSTiR,25 - 34 years,No,White or Caucasian,High school diploma or GED,"$50,000 - $74,999",Male,heterosexual (straight),Virginia,2,...,No,Yes,No,No,NaN,No,Yes if consumers get part of the profit,I don't know,No,No

In [7]:
column_details.head()

          Unnamed: 0                                             fields
0  Survey ResponseID                                        Response ID
1        Q-demos-age                            What is your age group?
2   Q-demos-hispanic    Are you of Spanish, Hispanic, or Latino origin?
3       Q-demos-race  Choose one or more races that you consider you...
4  Q-demos-education  What is the highest level of education you hav...

In [9]:
column_mapping = dict(zip(column_details["Unnamed: 0"], column_details["fields"]))
new_survey_data = surveys.rename(columns = column_mapping)

In [11]:
"""Basically changing the column names in the surveys csv to the ones in column_details"""

'Basically changing the column names in the surveys csv to the ones in column_details'

In [13]:
new_survey_data.head()

,Response ID,What is your age group?,"Are you of Spanish, Hispanic, or Latino origin?",Choose one or more races that you consider yourself to be,What is the highest level of education you have completed?,What was your total household income before taxes during the past 12 months?,How do you describe yourself?,Which best describes your sexual orientation?,"50 States, D.C. and Puerto Rico",How many people do you share your Amazon account with? i.e. how many people log in and make orders using your account?,...,Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Smoke marijuana regularly?,Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Drink alcohol regularly?,Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Have diabetes?,Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Use a wheelchair?,"In 2021 did you, or someone you share your Amazon account with, experience any of the following life changes?\n\nPlease mark all that apply.",Do you think Amazon should be able to sell YOUR purchase data to other companies?,Do you think companies should be able to sell consumer purchase data to other companies?,Big companies currently collect and sell consumer purchase data. Do you think that small businesses should be able to access this data for free in order to help them compete with the big companies?,Do you think the U.S. Census Bureau should use purchase data to supplement their existing surveys?,Do you think researchers should be able to use purchase data to understand societal changes (e.g. due to COVID-19)?
0,R_1ou69fj4DQGsVcp,35 - 44 years,No,Black or African American,High school diploma or GED,"$25,000 - $49,999",Female,heterosexual (straight),Iowa,2,...,No,Yes,No,No,Lost a job,No,No,No,No,No
1,R_2UbJL30HRjK1sdD,45 - 54 years,No,White or Caucasian,High school diploma or GED,"$100,000 - $149,999",Male,heterosexual (straight),Ohio,2,...,No,No,No,No,NaN,No,No,No,No,Yes
2,R_UPXamGKtmf4RVIZ,25 - 34 years,No,White or Caucasian,High school diploma or GED,"$25,000 - $49,999",Male,heterosexual (straight),Arkansas,1 (just me!),...,No,No,Yes,No,NaN,No,No,No,No,Yes
3,R_2dYk5auG9Fv5Qve,35 - 44 years,Yes,White or Caucasian,"Graduate or professional degree (MA, MS, MBA, ...","$50,000 - $74,999",Male,heterosexual (straight),Tennessee,1 (just me!),...,No,No,No,No,NaN,No,No,No,No,No
4,R_2aP0GyIR66gSTiR,25 - 34 years,No,White or Caucasian,High school diploma or GED,"$50,000 - $74,999",Male,heterosexual (straight),Virginia,2,...,No,Yes,No,No,NaN,No,Yes if consumers get part of the profit,I don't know,No,No

In [15]:
"""To combine the transaction data (purchases) with the customer demographic data (surveys) so that each transaction now includes who made the purchase and their demographic details."""

'To combine the transaction data (purchases) with the customer demographic data (surveys) so that each transaction now includes who made the purchase and their demographic details.'

In [17]:
merged_dataset = purchases.merge( #left
    new_survey_data, #right
    how = "left", #keep all purchases ie our left table even if demographics (right) are missing (it will just be NaN)
    left_on = "Survey ResponseID",
    right_on = "Response ID" 
)

In [19]:
merged_dataset.head(2)

,Order Date,Purchase Price Per Unit,Quantity,Shipping Address State,Title,ASIN/ISBN (Product Code),Category,Survey ResponseID,Response ID,What is your age group?,...,Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Smoke marijuana regularly?,Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Drink alcohol regularly?,Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Have diabetes?,Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Use a wheelchair?,"In 2021 did you, or someone you share your Amazon account with, experience any of the following life changes?\n\nPlease mark all that apply.",Do you think Amazon should be able to sell YOUR purchase data to other companies?,Do you think companies should be able to sell consumer purchase data to other companies?,Big companies currently collect and sell consumer purchase data. Do you think that small businesses should be able to access this data for free in order to help them compete with the big companies?,Do you think the U.S. Census Bureau should use purchase data to supplement their existing surveys?,Do you think researchers should be able to use purchase data to understand societal changes (e.g. due to COVID-19)?
0,2018-12-04,7.98,1.0,NJ,SanDisk Ultra 16GB Class 10 SDHC UHS-I Memory ...,B0143RTB1E,FLASH_MEMORY,R_01vNIayewjIIKMF,R_01vNIayewjIIKMF,35 - 44 years,...,No,No,No,No,NaN,Yes if I get part of the profit,Yes if consumers get part of the profit,No,No,Yes
1,2018-12-22,13.99,1.0,NJ,Betron BS10 Earphones Wired Headphones in Ear ...,B01MA1MJ6H,HEADPHONES,R_01vNIayewjIIKMF,R_01vNIayewjIIKMF,35 - 44 years,...,No,No,No,No,NaN,Yes if I get part of the profit,Yes if consumers get part of the profit,No,No,Yes

In [21]:
merged_dataset['Order Date'] = pd.to_datetime(merged_dataset['Order Date'])
#Here I'm converting the order date column to the date time format

In [23]:
print(merged_dataset.isna().sum())  # to see which fields are missing

Order Date                                                                                                                                                                                                     0
Purchase Price Per Unit                                                                                                                                                                                        0
Quantity                                                                                                                                                                                                       0
Shipping Address State                                                                                                                                                                                     87812
Title                                                                                                                                                                                                      89740
ASIN/ISBN (Product Code)                                                                                                                                                                                     973
Category                                                                                                                                                                                                   89458
Survey ResponseID                                                                                                                                                                                              0
Response ID                                                                                                                                                                                                    0
What is your age group?                                                                                                                                                                                        0
Are you of Spanish, Hispanic, or Latino origin?                                                                                                                                                                0
Choose one or more races that you consider yourself to be                                                                                                                                                      0
What is the highest level of education you have completed?                                                                                                                                                     0
What was your total household income before taxes during the past 12 months?                                                                                                                                   0
How do you describe yourself?                                                                                                                                                                                  0
Which best describes your sexual orientation?                                                                                                                                                                  0
50 States, D.C. and Puerto Rico                                                                                                                                                                                0
How many people do you share your Amazon account with? i.e. how many people log in and make orders using your account?                                                                                         0
How many people are in your "household"?                                                                                                                                                                       0
How often do you (+ anyone you share your account with) order deliveries from Amazon?                                                                                                                          0
Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Smoke cigarettes regularly?                                                        0
Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Smoke marijuana regularly?                                                         0
Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Drink alcohol regularly?                                                           0
Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Have diabetes?                                                                     0
Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Use a wheelchair?                                                                  0
In 2021 did you, or someone you share your Amazon account with, experience any of the following life changes?\n\nPlease mark all that apply.                                                             1239052
Do you think Amazon should be able to sell YOUR purchase data to other companies?                                                                                                                              0
Do you think companies should be able to sell consumer purchase data to other companies?                                                                                                                       0
Big companies currently collect and sell consumer purchase data. Do you think that small businesses should be able to access this data for free in order to help them compete with the big companies?          0
Do you think the U.S. Census Bureau should use purchase data to supplement their existing surveys?                                                                                                             0
Do you think researchers should be able to use purchase data to understand societal changes (e.g. due to COVID-19)?                                                                                            0
dtype: int64

In [25]:
# Filling product-level info since that’s useful for analysis
merged_dataset['Category'] = merged_dataset['Category'].fillna('UNKNOWN')
merged_dataset['Title'] = merged_dataset['Title'].fillna('UNKNOWN')
merged_dataset['Shipping Address State'] = merged_dataset['Shipping Address State'].fillna('UNKNOWN')
merged_dataset['ASIN/ISBN (Product Code)'] = merged_dataset['ASIN/ISBN (Product Code)'].fillna('UNKNOWN')

In [27]:
print(merged_dataset.isna().sum())

Order Date                                                                                                                                                                                                     0
Purchase Price Per Unit                                                                                                                                                                                        0
Quantity                                                                                                                                                                                                       0
Shipping Address State                                                                                                                                                                                         0
Title                                                                                                                                                                                                          0
ASIN/ISBN (Product Code)                                                                                                                                                                                       0
Category                                                                                                                                                                                                       0
Survey ResponseID                                                                                                                                                                                              0
Response ID                                                                                                                                                                                                    0
What is your age group?                                                                                                                                                                                        0
Are you of Spanish, Hispanic, or Latino origin?                                                                                                                                                                0
Choose one or more races that you consider yourself to be                                                                                                                                                      0
What is the highest level of education you have completed?                                                                                                                                                     0
What was your total household income before taxes during the past 12 months?                                                                                                                                   0
How do you describe yourself?                                                                                                                                                                                  0
Which best describes your sexual orientation?                                                                                                                                                                  0
50 States, D.C. and Puerto Rico                                                                                                                                                                                0
How many people do you share your Amazon account with? i.e. how many people log in and make orders using your account?                                                                                         0
How many people are in your "household"?                                                                                                                                                                       0
How often do you (+ anyone you share your account with) order deliveries from Amazon?                                                                                                                          0
Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Smoke cigarettes regularly?                                                        0
Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Smoke marijuana regularly?                                                         0
Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Drink alcohol regularly?                                                           0
Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Have diabetes?                                                                     0
Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Use a wheelchair?                                                                  0
In 2021 did you, or someone you share your Amazon account with, experience any of the following life changes?\n\nPlease mark all that apply.                                                             1239052
Do you think Amazon should be able to sell YOUR purchase data to other companies?                                                                                                                              0
Do you think companies should be able to sell consumer purchase data to other companies?                                                                                                                       0
Big companies currently collect and sell consumer purchase data. Do you think that small businesses should be able to access this data for free in order to help them compete with the big companies?          0
Do you think the U.S. Census Bureau should use purchase data to supplement their existing surveys?                                                                                                             0
Do you think researchers should be able to use purchase data to understand societal changes (e.g. due to COVID-19)?                                                                                            0
dtype: int64

In [29]:
print(merged_dataset.columns.tolist())

['Order Date', 'Purchase Price Per Unit', 'Quantity', 'Shipping Address State', 'Title', 'ASIN/ISBN (Product Code)', 'Category', 'Survey ResponseID', 'Response ID', 'What is your age group?', 'Are you of Spanish, Hispanic, or Latino origin?', 'Choose one or more races that you consider yourself to be', 'What is the highest level of education you have completed?', 'What was your total household income before taxes during the past 12 months?', 'How do you describe yourself?', 'Which best describes your sexual orientation?', '50 States, D.C. and Puerto Rico', 'How many people do you share your Amazon account with? i.e. how many people log in and make orders using your account?', 'How many people are in your "household"?', 'How often do you (+ anyone you share your account with) order deliveries from Amazon?', 'Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Smoke cigarettes regularly?', 'Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Smoke marijuana regularly?', 'Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Drink alcohol regularly?', 'Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Have diabetes?', 'Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Use a wheelchair?', 'In 2021 did you, or someone you share your Amazon account with, experience any of the following life changes?\n\nPlease mark all that apply.', 'Do you think Amazon should be able to sell YOUR purchase data to other companies?', 'Do you think companies should be able to sell consumer purchase data to other companies?', 'Big companies currently collect and sell consumer purchase data. Do you think that small businesses should be able to access this data for free in order to help them compete with the big companies?', 'Do you think the U.S. Census Bureau should use purchase data to supplement their existing surveys?', 'Do you think researchers should be able to use purchase data to understand societal changes (e.g. due to COVID-19)?']

In [31]:
merged_dataset.head(1)

,Order Date,Purchase Price Per Unit,Quantity,Shipping Address State,Title,ASIN/ISBN (Product Code),Category,Survey ResponseID,Response ID,What is your age group?,...,Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Smoke marijuana regularly?,Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Drink alcohol regularly?,Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Have diabetes?,Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Use a wheelchair?,"In 2021 did you, or someone you share your Amazon account with, experience any of the following life changes?\n\nPlease mark all that apply.",Do you think Amazon should be able to sell YOUR purchase data to other companies?,Do you think companies should be able to sell consumer purchase data to other companies?,Big companies currently collect and sell consumer purchase data. Do you think that small businesses should be able to access this data for free in order to help them compete with the big companies?,Do you think the U.S. Census Bureau should use purchase data to supplement their existing surveys?,Do you think researchers should be able to use purchase data to understand societal changes (e.g. due to COVID-19)?
0,2018-12-04,7.98,1.0,NJ,SanDisk Ultra 16GB Class 10 SDHC UHS-I Memory ...,B0143RTB1E,FLASH_MEMORY,R_01vNIayewjIIKMF,R_01vNIayewjIIKMF,35 - 44 years,...,No,No,No,No,NaN,Yes if I get part of the profit,Yes if consumers get part of the profit,No,No,Yes

In [33]:
merged_dataset = merged_dataset.rename(columns={
    'What is your age group?': 'Age Group',
    'Are you of Spanish, Hispanic, or Latino origin?': 'Hispanic Origin',
    'Choose one or more races that you consider yourself to be': 'Race',
    'What is the highest level of education you have completed?': 'Education',
    'What was your total household income before taxes during the past 12 months?': 'Household Income',
    'How do you describe yourself?': 'Gender Identity',
    'Which best describes your sexual orientation?': 'Sexual Orientation',
    '50 States, D.C. and Puerto Rico': 'State Reported',
    'How many people do you share your Amazon account with? i.e. how many people log in and make orders using your account?': 'Account Shared With',
    'How many people are in your "household"?': 'Household Size',
    'How often do you (+ anyone you share your account with) order deliveries from Amazon?': 'Amazon Order Frequency',

    # Health & behavior
    'Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Smoke cigarettes regularly?': 'Smoke Cigarettes',
    'Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Smoke marijuana regularly?': 'Smoke Marijuana',
    'Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Drink alcohol regularly?': 'Drink Alcohol',
    'Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Have diabetes?': 'Diabetes',
    'Are any of the following the case for:\n\nYou or someone in your household or someone you share your Amazon account with? - Use a wheelchair?': 'Wheelchair',

    # Life change event
    'In 2021 did you, or someone you share your Amazon account with, experience any of the following life changes?\n\nPlease mark all that apply.': 'Life Changes 2021',

    # Opinions
    'Do you think Amazon should be able to sell YOUR purchase data to other companies?': 'Opinion: Amazon Sell Data',
    'Do you think companies should be able to sell consumer purchase data to other companies?': 'Opinion: Companies Sell Data',
    'Big companies currently collect and sell consumer purchase data. Do you think that small businesses should be able to access this data for free in order to help them compete with the big companies?': 'Opinion: SMB Data Access',
    'Do you think the U.S. Census Bureau should use purchase data to supplement their existing surveys?': 'Opinion: Census Use Data',
    'Do you think researchers should be able to use purchase data to understand societal changes (e.g. due to COVID-19)?': 'Opinion: Research Use Data',
})

In [35]:
merged_dataset.head(4)

,Order Date,Purchase Price Per Unit,Quantity,Shipping Address State,Title,ASIN/ISBN (Product Code),Category,Survey ResponseID,Response ID,Age Group,...,Smoke Marijuana,Drink Alcohol,Diabetes,Wheelchair,Life Changes 2021,Opinion: Amazon Sell Data,Opinion: Companies Sell Data,Opinion: SMB Data Access,Opinion: Census Use Data,Opinion: Research Use Data
0,2018-12-04,7.98,1.0,NJ,SanDisk Ultra 16GB Class 10 SDHC UHS-I Memory ...,B0143RTB1E,FLASH_MEMORY,R_01vNIayewjIIKMF,R_01vNIayewjIIKMF,35 - 44 years,...,No,No,No,No,NaN,Yes if I get part of the profit,Yes if consumers get part of the profit,No,No,Yes
1,2018-12-22,13.99,1.0,NJ,Betron BS10 Earphones Wired Headphones in Ear ...,B01MA1MJ6H,HEADPHONES,R_01vNIayewjIIKMF,R_01vNIayewjIIKMF,35 - 44 years,...,No,No,No,No,NaN,Yes if I get part of the profit,Yes if consumers get part of the profit,No,No,Yes
2,2018-12-24,8.99,1.0,NJ,UNKNOWN,B078JZTFN3,UNKNOWN,R_01vNIayewjIIKMF,R_01vNIayewjIIKMF,35 - 44 years,...,No,No,No,No,NaN,Yes if I get part of the profit,Yes if consumers get part of the profit,No,No,Yes
3,2018-12-25,10.45,1.0,NJ,Perfecto Stainless Steel Shaving Bowl. Durable...,B06XWF9HML,DISHWARE_BOWL,R_01vNIayewjIIKMF,R_01vNIayewjIIKMF,35 - 44 years,...,No,No,No,No,NaN,Yes if I get part of the profit,Yes if consumers get part of the profit,No,No,Yes

In [37]:
merged_dataset['Total_Spent'] = merged_dataset['Purchase Price Per Unit'] *  merged_dataset['Quantity']

In [42]:
merged_dataset.head(1)

,Order Date,Purchase Price Per Unit,Quantity,Shipping Address State,Title,ASIN/ISBN (Product Code),Category,Survey ResponseID,Response ID,Age Group,...,Drink Alcohol,Diabetes,Wheelchair,Life Changes 2021,Opinion: Amazon Sell Data,Opinion: Companies Sell Data,Opinion: SMB Data Access,Opinion: Census Use Data,Opinion: Research Use Data,Total_Spent
0,2018-12-04,7.98,1.0,NJ,SanDisk Ultra 16GB Class 10 SDHC UHS-I Memory ...,B0143RTB1E,FLASH_MEMORY,R_01vNIayewjIIKMF,R_01vNIayewjIIKMF,35 - 44 years,...,No,No,No,NaN,Yes if I get part of the profit,Yes if consumers get part of the profit,No,No,Yes,7.98

In [44]:
# Grouping by customer ID and aggregating purchase behavior so we can have one row per customer with summary stats.

In [46]:
customer_df = merged_dataset.groupby('Response ID').agg({
    'Order Date': ['min', 'max', 'nunique'],        
    'Quantity': 'sum',                              
    'Total_Spent': 'sum',                           
    'Title': 'nunique',                             
    'Category': 'nunique'                           
})

In [48]:
customer_df.head()

                  Order Date                    Quantity Total_Spent   Title  \
                         min        max nunique      sum         sum nunique
Response ID
R_01vNIayewjIIKMF 2018-12-04 2022-06-10      80    146.0     4920.01      91
R_037XK72IZBJyF69 2018-01-18 2022-12-13     305   1306.0    17589.89     949
R_038ZU6kfQ5f89fH 2018-12-18 2022-02-23      27     73.0     4247.54      53
R_03aEbghUILs9NxD 2018-01-13 2023-02-18     101    175.0     3882.98     126
R_06RZP9pS7kONINr 2018-01-23 2022-11-15     136    464.0    11223.70     366

                  Category
                   nunique
Response ID
R_01vNIayewjIIKMF       51
R_037XK72IZBJyF69      363
R_038ZU6kfQ5f89fH       35
R_03aEbghUILs9NxD       80
R_06RZP9pS7kONINr      172

The aggregation gives column names like


###### Order Date         min
###### Order Date         max
###### Order Date     nunique
###### Quantity           sum
###### Total_Spent        sum
###### Title           nunique
###### Category        nunique

This format is not easy to work with in code because you’d need to access columns like:

customer_df["Order Date"]["min"]

In [50]:
customer_df.columns = [
    'First_Purchase', 'Last_Purchase', 'Purchase_Days',
    'Total_Quantity', 'Total_Spent', 'Unique_Products', 'Unique_Categories'
]

In [52]:
customer_df.head()

,First_Purchase,Last_Purchase,Purchase_Days,Total_Quantity,Total_Spent,Unique_Products,Unique_Categories
Response ID,,,,,,,
R_01vNIayewjIIKMF,2018-12-04,2022-06-10,80,146.0,4920.01,91,51
R_037XK72IZBJyF69,2018-01-18,2022-12-13,305,1306.0,17589.89,949,363
R_038ZU6kfQ5f89fH,2018-12-18,2022-02-23,27,73.0,4247.54,53,35
R_03aEbghUILs9NxD,2018-01-13,2023-02-18,101,175.0,3882.98,126,80
R_06RZP9pS7kONINr,2018-01-23,2022-11-15,136,464.0,11223.70,366,172

In [54]:
reference_date = merged_dataset['Order Date'].max()
# By Recency I mean how long before the last available purchase did this customer last buy something? 
#I'm going to be using the most recent order in the dataset

In [56]:
customer_df['Recency_Days'] = (reference_date - customer_df['Last_Purchase']).dt.days

In [58]:
customer_df['Frequency'] = customer_df['Purchase_Days']
#Just renaming Purchase_Days to Frequency for clarity

In [60]:
customer_df['Avg_Order_Value'] = customer_df['Total_Spent'] / customer_df['Frequency']
# AOV is key to understanding customer value; higher spend per visit means higher value

In [62]:
customer_df['Avg_Quantity_Per_Order'] = customer_df['Total_Quantity'] / customer_df['Frequency']
#This indicates if they buy in bulk or just one or two items per visit.

In [64]:
customer_df.head()

,First_Purchase,Last_Purchase,Purchase_Days,Total_Quantity,Total_Spent,Unique_Products,Unique_Categories,Recency_Days,Frequency,Avg_Order_Value,Avg_Quantity_Per_Order
Response ID,,,,,,,,,,,
R_01vNIayewjIIKMF,2018-12-04,2022-06-10,80,146.0,4920.01,91,51,797,80,61.500125,1.825000
R_037XK72IZBJyF69,2018-01-18,2022-12-13,305,1306.0,17589.89,949,363,611,305,57.671770,4.281967
R_038ZU6kfQ5f89fH,2018-12-18,2022-02-23,27,73.0,4247.54,53,35,904,27,157.316296,2.703704
R_03aEbghUILs9NxD,2018-01-13,2023-02-18,101,175.0,3882.98,126,80,544,101,38.445347,1.732673
R_06RZP9pS7kONINr,2018-01-23,2022-11-15,136,464.0,11223.70,366,172,639,136,82.527206,3.411765

In [66]:
print(customer_df.index)

Index(['R_01vNIayewjIIKMF', 'R_037XK72IZBJyF69', 'R_038ZU6kfQ5f89fH',
       'R_03aEbghUILs9NxD', 'R_06RZP9pS7kONINr', 'R_06d9ULxrBmkwSTn',
       'R_07oHvj3bLVVRCRb', 'R_085qq7w0pkhowox', 'R_08tF4u5YMrmEJ4l',
       'R_08uYA7fb4unHGkF',
       ...
       'R_zYlhkltqLl0WShX', 'R_zZSx9DRg5AejOrD', 'R_zZsd6BQmBdvVG0h',
       'R_zbZLoKX4IzA4oql', 'R_zczhhGpVCmLwad3', 'R_zd4E1BgAdaM2761',
       'R_zdLOP8JD2pe1brj', 'R_zdQYFhfeqyBd2dH', 'R_zfnsck2ZatnGtY5',
       'R_zfqnsBzlOAKibzb'],
      dtype='object', name='Response ID', length=5027)

In [68]:
customer_df = customer_df.reset_index()
#After grouping, Response ID became the index so I want to move Response ID back to being a column

In [70]:
print(customer_df.index)

RangeIndex(start=0, stop=5027, step=1)

In [74]:
demographics = merged_dataset.drop_duplicates(subset='Response ID')


From the big merged dataset, this keeps only the first row for each unique user (Response ID)
Because each person may have made multiple purchases (multiple rows), but we only want one row per person for survey data

In [77]:
survey_cols = [
    'Response ID', 'Age Group', 'Hispanic Origin', 'Race', 'Education',
    'Household Income', 'Gender Identity', 'Sexual Orientation', 'State Reported',
    'Account Shared With', 'Household Size', 'Amazon Order Frequency',
    'Smoke Cigarettes', 'Smoke Marijuana', 'Drink Alcohol', 'Diabetes', 'Wheelchair',
    'Life Changes 2021', 'Opinion: Amazon Sell Data', 'Opinion: Companies Sell Data',
    'Opinion: SMB Data Access', 'Opinion: Census Use Data', 'Opinion: Research Use Data'
]
#The relevant columns I need, so they can be included in the final dataset

In [79]:
demographics = demographics[survey_cols]
# This keeps only the columns listed in survey_cols in the demographics dataframe

In [81]:
final_dataset_DS = customer_df.merge(demographics, on="Response ID", how="left")

In [83]:
final_dataset_DS.to_csv("final_dataset_DS.csv", index=False)

In [89]:
final_dataset_DS.to_csv("/Users/charisoneyemi/Downloads/THESISFOLDER/FinalDataset/final_dataset_DS.csv", index=False)

In [91]:
pd.read_csv("/Users/charisoneyemi/Downloads/THESISFOLDER/FinalDataset/final_dataset_DS.csv")

,Response ID,First_Purchase,Last_Purchase,Purchase_Days,Total_Quantity,Total_Spent,Unique_Products,Unique_Categories,Recency_Days,Frequency,...,Smoke Marijuana,Drink Alcohol,Diabetes,Wheelchair,Life Changes 2021,Opinion: Amazon Sell Data,Opinion: Companies Sell Data,Opinion: SMB Data Access,Opinion: Census Use Data,Opinion: Research Use Data
0,R_01vNIayewjIIKMF,2018-12-04,2022-06-10,80,146.0,4920.01,91,51,797,80,...,No,No,No,No,NaN,Yes if I get part of the profit,Yes if consumers get part of the profit,No,No,Yes
1,R_037XK72IZBJyF69,2018-01-18,2022-12-13,305,1306.0,17589.89,949,363,611,305,...,No,Yes,No,No,NaN,Yes if I get part of the profit,Yes if consumers get part of the profit,I don't know,No,Yes
2,R_038ZU6kfQ5f89fH,2018-12-18,2022-02-23,27,73.0,4247.54,53,35,904,27,...,No,No,No,No,Lost a job,Yes,Yes,No,No,Yes
3,R_03aEbghUILs9NxD,2018-01-13,2023-02-18,101,175.0,3882.98,126,80,544,101,...,No,No,No,No,NaN,Yes if I get part of the profit,Yes if consumers get part of the profit,No,I don't know,I don't know
4,R_06RZP9pS7kONINr,2018-01-23,2022-11-15,136,464.0,11223.70,366,172,639,136,...,No,No,Yes,No,Moved place of residence,No,No,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5022,R_zd4E1BgAdaM2761,2018-01-14,2022-12-27,156,589.0,13533.96,432,227,597,156,...,Yes,Yes,No,No,NaN,Yes if I get part of the profit,No,Yes,Yes,Yes
5023,R_zdLOP8JD2pe1brj,2018-02-20,2023-02-24,150,383.0,6397.19,298,161,538,150,...,Yes,Yes,No,No,"Lost a job ,Moved place of residence",Yes if I get part of the profit,Yes if consumers get part of the profit,No,Yes,Yes
5024,R_zdQYFhfeqyBd2dH,2019-12-19,2023-03-05,95,255.0,6154.57,221,131,529,95,...,Yes,No,No,No,Became pregnant,No,Yes if consumers get part of the profit,I don't know,I don't know,Yes
5025,R_zfnsck2ZatnGtY5,2018-01-11,2023-03-03,341,644.0,10880.95,543,253,531,341,...,Yes,Yes,No,No,NaN,No,No,Yes,I don't know,Yes
5026,R_zfqnsBzlOAKibzb,2018-01-03,2022-09-19,41,83.0,2688.19,60,37,696,41,...,No,No,No,Yes,NaN,No,No,Yes,I don't know,Yes